/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.light-grey{

    background-color: #f0f0f0;
}
.inline {
    float: left;
    margin-right: 5px;
}
.white-but{
    background-color: white;
}
.bigletters {
    font-size: 50px;
    font-weight: bolder;
    color: blue;
}

.purple{
    background-color: #3C1460 !important;
}

